#indice li>a:link{
    color: aquamarine;
    text-decoration: none;}

#indice li>a:hover {
    background-color: darkmagenta;
    color: grey;
    text-transform: uppercase;}

#indice li>a:visited {
    color: aquamarine;
    font-style: italic;
    text-decoration: none;}

#piedepagina address>a:link {
    color: green;
    text-decoration: none;}

#piedepagina address>a:hover {
    background-color: white;
    border-style: solid;
    border-color: black;
    color: teal;
    font-style: normal;}